@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --color-one: #ffffff;
		--color-two: #EFEFBB;
		--color-three: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
		--color-four: #e3adad;
		--color-five: #aed9b1;
		--color-six: #f8d5a3;
		--color-seven: #b7d7e6;
		--color-eight: #222;
		--color-nine: #3e783e;
		--color-ten: #c190c1;
}

* {
	font-family: 'Rubik', sans-serif;
}

body {
	background: var(--color-two);
	background: var(--color-three);
	color: var(--color-one);
	margin: 0;
	font-family: rubik;
}

h1 {
	text-align: center;
	font-size: 54px;
}